.Card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  #menu {
    width: 62px;
    height: 24px;

    border-radius: 10px 10px 0 0;
    background: #252525;

    margin-right: 10px;
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      background: #252525;
      border: none;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      transition: filter .2s ease-in-out;
      cursor: pointer;

      &:hover { filter: brightness(0.8); }
    }
  }

  #work {
    width: 100%;
    min-height: 60px;

    background: #252525;
    border-radius: 10px;
    padding: 8px;

    text-align: center;
    font-size: 1rem;
    color: white;

    display: flex;
    align-items: center;

    .work-text {
      width: 100%;
      height: fit-content;
      
      background: none;
      color: white;
      
      border: none;
      resize: none;
      overflow: hidden;

      margin-right: calc(32px + 16px);

      text-align: center;
      
      &:focus {
        outline: none;
      }
    }

    #maked {
      margin: 16px;
      width: 32px;
      height: 32px;
    }
  }
}